# Archivos de configuración de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Configuración de entorno
.vs/
appsettings.Development.json

# Archivos de salida de compilación
bin/
obj/

# Dependencias de paquetes
packages/
